<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mybatis.mapper.BookMapper">
	<!-- 使用缓存   -->
	<!-- <cache eviction="LRU"></cache> -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache">
		<property name="timeToIdleSeconds" value="3600" />
		<property name="timeToLiveSeconds" value="3600" />
		<!-- 同ehcache参数maxElementsInMemory -->
		<property name="maxEntriesLocalHeap" value="1000" />
		<!-- 同ehcache参数maxElementsOnDisk -->
		<property name="maxEntriesLocalDisk" value="10000000" />
		<property name="memoryStoreEvictionPolicy" value="LRU" />
	</cache>
	
	
	<resultMap type="book" id="bookMap">
		<id property="bookid" column="bookid" />
		<result property="bookName" column="bookName" />
		<result property="publish" column="publish"/>
		<result property="author" column="author"/>
		<result property="publishDate" column="publishDate"/>
		<result property="price" column="price"/>
		<result property="nowPrice" column="nowPrice"/>
		<result property="status" column="status"/>
		<result property="decription" column="decription"/>
		<result property="bookNum" column="bookNum"/>
		<result property="bookImg" column="bookImg"/>
		
		<!-- 封装bookType对象 -->
		<association property="booktype" javaType="bookType">
			<id property="typeid" column="typeid"/>
			<result property="typeName" column="typeName"/>
			<result property="decription" column="decription"/>
		</association>
		<!-- 封装Category对象 -->
		<association property="category" javaType="category">
			<id property="cateid" column="cateid"/>
			<result property="cateName" column="cateName"/>
			<result property="decription" column="decription"/>
		</association>
	</resultMap>
	
	<select id="selectBookById" parameterType="int" resultMap="bookMap">
		select * from t_book b ,t_booktype t ,t_category c 
			where
		b.type_id = t.typeid 
		and b.cate_id = c.cateid
		and b.bookid = #{id} 
	</select>
	
	<resultMap type="category" id="cateMap">
		<id property="cateid" column="cateid"/>
		<result property="cateName" column="cateName"/>
		<result property="decription" column="decription"/>
		
		<!-- 封装图书的集合 -->
		<collection property="books" ofType="book">
			<id property="bookid" column="bookid" />
			<result property="bookName" column="bookName" />
			<result property="publish" column="publish"/>
			<result property="author" column="author"/>
			<result property="publishDate" column="publishDate"/>
			<result property="price" column="price"/>
			<result property="nowPrice" column="nowPrice"/>
			<result property="status" column="status"/>
			<result property="decription" column="decription"/>
			<result property="bookNum" column="bookNum"/>
			<result property="bookImg" column="bookImg"/>
			
			<!-- 封装bookType对象 -->
			<association property="booktype" javaType="bookType">
				<id property="typeid" column="typeid"/>
				<result property="typeName" column="typeName"/>
				<result property="decription" column="decription"/>
			</association>
			<!-- 封装Category对象 -->
			<association property="category" javaType="category">
				<id property="cateid" column="cateid"/>
				<result property="cateName" column="cateName"/>
				<result property="decription" column="decription"/>
				
			</association>
		</collection>
	</resultMap>
	
	<select id="selectCategoryByid" parameterType="int" resultMap="cateMap">
		select * from t_book b ,t_booktype t ,t_category c 
			where
		b.type_id = t.typeid 
		and b.cate_id = c.cateid
		and c.cateid = #{id} 
	</select>
	
	<select id="selectBookInfo" resultType="bookInfo">
		select 
			b.bookName,
			b.price,
			b.author, 
			t.typeName,
			c.cateName,
			b.publish
		from t_book b ,t_booktype t ,t_category c 
			where
		b.type_id = t.typeid 
		and b.cate_id = c.cateid
	</select>
	
	
</mapper>
